# Root ignore
node_modules/
.env
dist/
build/
*.log
.DS_Store
.vscode/

# Backend specific
backend/node_modules/
backend/.env
backend/dist/

# Frontend specific
frontend/node_modules/
frontend/dist/
